<h1>Edit reservation</h1>

<%= simple_form_for @reservation do |r| %>
  <%= r.input :date_checkin, as: :date, html5: true %>
  <%= r.input :date_checkout, as: :date, html5: true%>
  <%= r.input :guests %>
  <%= r.button :submit, class: "btn btn-primary" %>
<% end %>
