  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1583091618471-56becbdb1c00?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1232&q=80);">
    <div class="container">
        <h1><%= @offer.title %></h1>
    </div>
  </div>

  <div class="container-show-reservations">

      <div class="container container-reservation-content">
        <%# <div class="botton-show">
          <%= link_to "Back to My Reservations", my_reservations_path, class: "btn btn-primary" %>
        <%# </div> %>

        <div class="my-reservation-details">
          <h2><%= @offer.title %></h2>
          <p> <small><%= @offer.location %> </small></p>
          <hr><br>
          <p> Hosted by: <%= @offer.user.full_name %> </p>
          <p><em>Un poco mas sobre el lugar:</em></p>
          <p> <%= @offer.description %> </p>
        </div>

        <div class="botton-show cancellation-show">
          <%= link_to "Edit offer", edit_offer_path, class: "btn btn-primary" %>
          <%= link_to "Delete", offer_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" %>
        </div>

      </div>

      <div class="container">
        <div class="row">
          <div class="col-10 m-auto">
            <div class="flat-form form-container">
                <h3> $ <%= @offer.price_per_night %> <small>per night</small></h3>
                <div class="mt-3">
                  <%= simple_form_for [@offer, @reservation] do |r| %>
                    <%= r.input :date_checkin, as: :date %>
                    <%= r.input :date_checkout, as: :date %>
                    <%= r.input :guests %>
                    <%= r.button :submit, class: "btn btn-primary" %>
                  <% end %>
                </div>
            </div>
          </div>
        </div>
      </div>

  </div>
